.game-room {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 40%;
  margin: auto;
}

.panel {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid ;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.invite-link {
  margin: 20px 0;
}
.link-container {
  display: flex; /* Используем Flexbox для выравнивания элементов */
  align-items: center; /* Выравниваем по центру по вертикали */
}

.invite-link-text {
  flex: 1; /* Ссылка занимает оставшееся пространство */
  overflow: hidden; /* Обрезаем текст, если он выходит за пределы */
  white-space: nowrap; /* Запрещаем перенос строк */
  text-overflow: fade; /* Добавляем многоточие в конце обрезанного текста */
  margin-right: 10px; /* Отступ между ссылкой и кнопкой */
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.game-conditions-panel {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
  background-color: #f9f9f9;
}

.columns {
  display: flex; /* Используем Flexbox для создания колонок */
  justify-content: space-between; /* Распределяем пространство между колонками */
}

.column {
  flex: 1; /* Каждая колонка занимает равное пространство */
  margin-right: 15px; /* Отступ между колонками */
}

.column:last-child {
  margin-right: 0; /* Убираем отступ у последней колонки */
}

h1 {
  font-size: 1.5em; /* Уменьшите размер шрифта заголовка */
}

h2 {
  font-size: 1.2em; /* Уменьшите размер шрифта для подзаголовков */
}

h3 {
  font-size: 1em; /* Уменьшите размер шрифта для заголовков третьего уровня */
}
