<div class="game-room">
  <h1>Вызвать на игру</h1>


  <div class="game-conditions-panel">
    <div class="columns">
      <div class="column">
        <p>{{ gameRoom.gameConditions.getTileTitle() }}</p>
        <p>{{ gameRoom.gameConditions.getTileSubtitle() }}</p>
      </div>
      <div class="column">
        <p>Режим матча: {{ gameRoom.gameConditions.matchMode.title }}</p>
        <p>Цвет фигур: {{ gameRoom.gameConditions.creatorFigureColor.title }}</p>
      </div>
    </div>
  </div>

  <div class="panel">
    <h2>Владелец игры: {{ gameRoom.creatorLogin }}</h2>
  </div>

  <div class="panel" *ngIf="gameRoom.opponentLogin">
    <h2>Гость игры: {{ gameRoom.opponentLogin }}</h2>
  </div>

  <div class="invite-link">
    <h3>Чтобы пригласить друга, отправьте ему эту ссылку:</h3>
    <a [href]="gameRoom.getLink()" target="_blank">{{ gameRoom.getLink() }}</a>
  </div>

  <div class="buttons">
    <button (click)="startGame()">Начать игру</button>
    <button (click)="cancelGame()">Отменить игру</button>
  </div>
</div>
