.header-container {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  width: 100%; /* Занять всю ширину */
  padding: 10px; /* Отступы вокруг контейнера */
  box-sizing: border-box; /* Учитывать отступы и границы в ширине */
}

.main-container {
  display: flex;
  justify-content: space-between; /* Распределение пространства между логотипом и профилем */
  align-items: center; /* Центрирование по вертикали */
  width: 100%; /* Занять всю ширину */
}

.logo-container {
  display: flex; /* Используем flexbox для расположения элементов */
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: flex-start; /* Левое выравнивание */
}

.logo {
  height: 4em; /* Установите высоту логотипа */
  margin: 0; /* Удалите отступы, если они вызывают переполнение */
}

.profile-container {
  display: flex;
  align-items: center; /* Центрирование содержимого */
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Правое выравнивание кнопок */
  width: 100%; /* Занять всю ширину */
  box-sizing: border-box; /* Учитывать отступы в ширине */
  gap: 10px;
}

.profile-info {
  display: flex; /* Горизонтальное выравнивание */
  align-items: center; /* Центрирование по вертикали */
}

.logout-button {
  color: black; /* Черный текст */
  border: none; /* Без границы */
  padding: 10px 15px; /* Отступы */
  cursor: pointer; /* Указатель при наведении */
  border-radius: 5px; /* Закругленные углы */
  margin-top: 8px; /* Отступ сверху для кнопки */
}

.logout-button:hover {
  background-color: #d32f2f; /* Темнее при наведении */
}

.users-button {
  color: black; /* Черный текст */
  border: none; /* Без границы */
  padding: 10px 15px; /* Отступы */
  cursor: pointer; /* Указатель при наведении */
  border-radius: 5px; /* Закругленные углы */
  margin-top: 8px; /* Отступ сверху для кнопки */
}

.users-button:hover {
  background-color: #3a70fa; /* Темнее при наведении */
}


.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.username {
  margin-right: 8px; /* Изменено на margin-right для правильного отступа */
  font-size: 24px;
  font-weight: bold;
}
