<table>
  <thead>
  <tr>
    <th>Логин</th>
    <th>Рейтинг</th>
    <th>Роль</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.login }}</td>
    <td>{{ user.rating }}</td>
    <td>{{ user.roles.join(', ') }}</td>
    <td>
      <button *ngIf="user.id !== currentUser.id" class="edit" (click)="editUser(user)">Редактировать</button>
      <button *ngIf="user.id !== currentUser.id" class="delete" (click)="deleteUser(user.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
