.user-profile {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto; /* Центрирует компонент по горизонтали */
  display: flex; /* Используем Flexbox */
  flex-direction: column; /* Устанавливаем направление по вертикали */
  align-items: center; /* Центрируем содержимое по горизонтали */
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.history-container {
  width: 100%; /* Занимает 100% ширины родительского контейнера */
  box-sizing: border-box; /* Учитывает отступы и границы в ширине */
}

.game-histories {
  display: grid; /* Используем сетку для расположения элементов */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Адаптивные колонки */
  grid-template-rows: repeat(auto-fill, 1fr); /* Автоматическое количество строк */
  gap: 10px; /* Промежуток между плитками */
  margin: 10px auto; /* Центрирование сетки на странице с отступом сверху */
  padding: 20px; /* Отступы по всем сторонам для внутренних элементов */
  border: 1px solid #ccc; /* Легкая граница вокруг секции */
  border-radius: 5px; /* Закругленные углы */
  background-color: #f9f9f9; /* Светлый фон */
}

.game-histories h3 {
  grid-column: span 3; /* Заголовок занимает всю ширину сетки */
  margin-bottom: 10px; /* Отступ снизу для заголовка */
  font-size: 24px; /* Размер шрифта для заголовка */
  color: #333; /* Цвет текста для заголовка */
}

.button-container {
  display: flex; /* Используем Flexbox для горизонтального расположения */
  justify-content: center; /* Центрируем кнопки по горизонтали */
  margin-top: 10px; /* Отступ сверху для кнопок */
}

/* Стили для кнопки "Редактировать" */
button {
  background-color: #007bff; /* Цвет фона */
  color: white; /* Цвет текста */
  border: none; /* Убираем границу */
  border-radius: 5px; /* Закругляем углы */
  padding: 10px 15px; /* Отступы внутри кнопки */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
  margin-bottom: 10px;
  margin-right: 10px; /* Отступ справа для кнопки "Сохранить" */
}

button:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}

/* Стили для кнопки "Отменить" */
.cancel-button {
  background-color: #dc3545; /* Красный цвет фона для кнопки "Отменить" */
}

.cancel-button:hover {
  background-color: #c82333; /* Темно-красный цвет фона при наведении */
}

/* Стили для полей ввода */
input[type="text"],
input[type="file"] {
  width: 30%; /* Ширина 100% */
  padding: 10px; /* Отступы внутри поля */
  margin: 10px 0; /* Отступы сверху и снизу */
  border: 1px solid #ccc; /* Граница */
  border-radius: 5px; /* Закругляем углы */
  box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

input[type="text"]:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
  outline: none; /* Убираем стандартный контур */
}
