<div class="user-profile">
  <img [src]="user.avatarUrl || user.getAvatarLink()" alt="{{ user.login }}'s avatar" class="avatar" />

  <div *ngIf="!isEditing; else editTemplate">
    <h2>{{ user.login }}</h2>
    <p>Рейтинг: {{ user.rating }}</p>
    <button (click)="isEditing = true">Редактировать</button>
  </div>

  <ng-template #editTemplate>
    <input [(ngModel)]="user.login"  type="text" placeholder="Логин" />
    <input [(ngModel)]="user.password" type="text" placeholder="Пароль" />
    <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" />
    <div class="button-container">
      <button (click)="saveChanges()">Сохранить</button>
      <button class="cancel-button" (click)="cancelChanges()">Отменить</button>
    </div>
  </ng-template>

  <ng-container *ngIf="this.histories && this.histories.length > 0">
    <h3>История игр:</h3>
    <div class="game-histories" *ngFor="let history of histories">
      <app-game-history [gameHistory]="history"></app-game-history>
    </div>
  </ng-container>
</div>
