<div class="container">
  <span>{{gameHistory.timestamp}}</span>
  <div class="player-info">
    <span>♔ {{ getLogin(FigureColor.WHITE) }}</span>
    <span class="cross">✖</span>
    <span>{{ getLogin(FigureColor.BLACK) }} ♚</span>
  </div>
  <div class="ratings">
    <span>{{ getRating(FigureColor.WHITE) }}</span>
    <span class="cross"></span>
    <span>{{ getRating(FigureColor.BLACK)  }}</span>
  </div>
  <div class="game-state">
    <span>{{ getGameState() }} · {{getTimeControl()}}</span>
  </div>
</div>
