<div class="container">

  <!-- Чат -->
  <div class="left-block" *ngIf="gamePlay && gamePlay.chatId">
    <app-chat [chatId]="gamePlay.chatId"></app-chat>
  </div>

  <div class="chess-board-container">
    <div class="chess-board">
      <div class="row" *ngFor="let rowIndex of getRowsIndexes()">
        <div class="row-label left">
          <span class="row-number">{{ rowIndex + 1 }}</span> <!-- Подписи строк (8-1) -->
        </div>
        <app-chess-cell
          #cell
          (click)="onClick(cell)"
          *ngFor="let colIndex of getColumnsIndexes()"
          [id]="getCellId(rowIndex, colIndex)"
          [isWhite]="(rowIndex + colIndex) % 2 === 1">
        </app-chess-cell>
      </div>
    </div>
    <div class="column-labels">
      <span></span> <!-- Пустая ячейка для верхнего левого угла -->
      <span *ngFor="let letter of getColumnsIndexes() ">
        {{ ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'][letter] }}
      </span>
      <!-- Подписи столбцов (A-H) -->
    </div>
  </div>

  <!-- Таблица с ходами -->
  <div class="moves-table-container">
    <div class="button-container">
      <app-timer #creatorTimer></app-timer>
      <app-timer #opponentTimer></app-timer>
    </div>
    <div class="button-container">
      <button class="action-button" (click)="offerDraw()">Предложить ничью</button>
      <button class="action-button" (click)="surrender()">Сдаться</button>
    </div>
    <div class="moves-table">
      <table *ngIf="gamePlay && gamePlay!.madeActions">
        <thead>
        <tr>
          <th>№</th>
          <th>Ход белых <br> {{getWhiteLogin()}}</th>
          <th>Ход черных <br> {{getBlackLogin()}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let index of [].constructor(Math.ceil(gamePlay.madeActions.length / 2)); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ gamePlay.madeActions[i * 2] }}</td>
          <td>{{ gamePlay.madeActions[i * 2 + 1] || '-' }}</td> <!-- Если нет хода черных, отображаем '-' -->
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div class="profile-container">
  <div class="profile-info">
    <span class="username">{{ userService.user!.login }}</span>
    <img [src]="userService.user!.getAvatarLink()" alt="{{ userService.user!.login }}'s avatar" class="avatar"/>
  </div>
</div>

