html, body {
  height: 100%; /* Убедитесь, что высота тела и html равна 100% */
  margin: 0; /* Убираем отступы по умолчанию */
}

.container {
  display: flex;
  flex-direction: row; /* Расположение блоков в строку */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  justify-content: center; /* Центрирование по горизонтали */
  /* height: 100vh; Убедитесь, что высота контейнера равна высоте окна, если это необходимо */
}

.left-block {
  display: flex;
  flex-direction: column; /* Убедитесь, что дочерние элементы располагаются в столбик */
  flex: 0 0 300px; /* Установите фиксированную ширину или используйте flex-grow */
  margin-right: 20px; /* Отступ между левым блоком и шахматной доской */
}


.chess-board-container {
  flex-direction: column;
  align-items: center;
}

.column-labels {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.column-labels span {
  width: 50px; /* Ширина для соответствия ячейкам */
  text-align: center;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.row {
  display: contents;
}

.row-label {
  width: 50px; /* Ширина для соответствия ячейкам */
  display: flex;
  align-items: center; /* Центрирование по вертикали */
}

.row-label.left {
  display: flex; /* Убедитесь, что flexbox включен */
  justify-content: flex-end; /* Прижать к правой стороне */
  text-align: left; /* Прижать текст к правой стороне */
}

.row-number {
  margin-right: 10px; /* Добавить отступ справа только к цифрам */
}

.moves-table {
  max-height: 270px; /* Установите максимальную высоту для контейнера */
  overflow-y: auto; /* Включите вертикальный скроллинг */
  overflow-x: hidden; /* Скрыть горизонтальный скролл */
}

.moves-table-container {
  margin-left: 20px; /* Отступ между шахматной доской и таблицей */
  max-height: 410px; /* Установите максимальную высоту для контейнера */
}

table {
  border-collapse: collapse;
  width: 100%; /* Установите ширину таблицы в 100% */
  table-layout: auto; /* Установите фиксированное расположение столбцов */
}
th, td {
  border: 1px solid #000; /* Граница для ячеек */
  padding: 8px; /* Отступ внутри ячеек */
  text-align: center; /* Выравнивание текста в ячейках */
  overflow: hidden; /* Скрыть переполнение в ячейках */
  white-space: nowrap; /* Запретить перенос текста на новую строку */
}

th {
  border: 1px solid #000; /* Граница для ячеек */
  background-color: #f2f2f2; /* Цвет фона для заголовка */
  position: sticky; /* Закрепить заголовок */
  top: 0; /* Позиция, на которой заголовок будет оставаться видимым */
  z-index: 1; /* Убедитесь, что заголовок находится выше других элементов */
}

.timer-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 20px; /* Установите нужное значение для расстояния между таймерами */
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.action-button {
  flex: 1; /* Занимает равную ширину */
  margin: 5px; /* Отступ между кнопками */
  padding: 10px;
  font-size: 16px;
}

.profile-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column; /* Вертикальное выравнивание */
  align-items: center; /* Центрирование содержимого */
  cursor: pointer;
  z-index: 1000; /* Убедитесь, что профиль отображается поверх других элементов */
}

.profile-info {
  display: flex; /* Горизонтальное выравнивание */
  align-items: center; /* Центрирование по вертикали */
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.username {
  margin-right: 8px; /* Изменено на margin-right для правильного отступа */
  font-size: 24px;
  font-weight: bold;
}

/* Медиа-запрос для адаптивного дизайна */
@media (max-width: 800px) {
  .container {
    flex-direction: column; /* Расположение блоков в столбик при узком экране */
    align-items: center; /* Центрирование блоков */
  }

  .left-block {
    width: 40%; /* Увеличьте ширину левого блока */
    margin-right: 0; /* Убираем отступ справа */
    margin-bottom: 20px; /* Добавляем отступ снизу */
  }

  .moves-table {
    margin-left: 0; /* Убираем отступ слева */
  }
}
