<div class="chess-board-container">
  <div class="chess-board">
    <div class="row" *ngFor="let rowIndex of [7, 6, 5, 4, 3, 2, 1, 0]">
      <div class="row-label left">
        <span class="row-number">{{ 8 - rowIndex }}</span> <!-- Подписи строк (8-1) -->
      </div>
      <app-chess-cell
        #cell
        (click)="onClick(cell)"
        *ngFor="let colIndex of [0, 1, 2, 3, 4, 5, 6, 7]"
        [id]="getCellId(rowIndex, colIndex)"
        [isWhite]="(rowIndex + colIndex) % 2 === 0">
      </app-chess-cell>
    </div>
  </div>
  <div class="column-labels">
    <span></span> <!-- Пустая ячейка для верхнего левого угла -->
    <span *ngFor="let letter of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']">{{ letter }}</span> <!-- Подписи столбцов (A-H) -->
  </div>
</div>
