.game-conditions {
  max-width: 40%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column; /* Устанавливает направление по вертикали */
  gap: 5px; /* Уменьшено значение отступа между элементами */
}

input[type="range"] {
  width: 100%;
  height: 5px; /* Уменьшена высота ползунка */
}

.match-mode button {
  margin: 5px; /* Уменьшено значение отступа между кнопками */
}

.button-active {
  transform: scale(1.1); /* Уменьшено увеличение размера */
  background-color: green; /* Цвет активной кнопки */
  color: white; /* Цвет текста активной кнопки */
}

.button-inactive {
  background-color: gray; /* Цвет неактивной кнопки */
  color: white; /* Цвет текста неактивной кнопки */
}

.figure-color {
  margin-bottom: 5px; /* Уменьшен отступ снизу для разделения секций */
}

.figure-color button {
  margin: 5px; /* Уменьшено значение отступа между кнопками */
}

h1 {
  font-size: 1.5em; /* Уменьшен размер шрифта заголовка */
}

h3 {
  font-size: 1.2em; /* Уменьшен размер шрифта для подзаголовков */
}

label {
  font-size: 0.9em; /* Уменьшен размер шрифта для меток */
}
