<div *ngIf="user">
  <h2>Редактирование польователя</h2>
  <form (ngSubmit)="saveUser()">
    <div class="center-container">
      <app-user-avatar [user]="this.user"></app-user-avatar>
      <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg"/>
    </div>

    <div>
      <label for="login">Логин:</label>
      <input id="login" type="text" [(ngModel)]="user.login" name="login" required/>
    </div>
    <div>
      <label for="password">Пароль:</label>
      <input id="password" type="text" [(ngModel)]="user.password" name="password" required/>
    </div>
    <div>
      <label for="rating">Рейтинг:</label>
      <input id="rating" type="number" [(ngModel)]="user.rating" name="rating" required/>
    </div>
    <div>
      <label>Роли:</label>
      <div *ngFor="let role of roles" class="role-radio">
        <input
          type="radio"
          [value]="role"
          name="role"
        [checked]="isRoleSelected(role)"
        (change)="onRoleChange(role)"/>
        <label>{{ role }}</label>
      </div>
    </div>
    <button type="submit">Сохранить</button>
    <button type="button" class="cancel" (click)="router.navigate(['/users'])">Отменить</button>
  </form>
</div>
