<h2>Login</h2>
<form (ngSubmit)="loginUser()">
  <input type="text" [(ngModel)]="login" name="login" placeholder="Login" required>
  <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>
<p>У вас нету аккаунта? <a [routerLink]="['/register']" [queryParams]="{ returnUrl: returnUrl }">Зарегистрироваться</a></p>
<div class="span-container">
  <span class="transparent-square" (click)="crackLogin1()">1</span>
  <span class="transparent-square" (click)="crackLogin2()">2</span>
</div>


