<h2>Авторизация</h2>
<form (ngSubmit)="loginUser()">
  <input type="text" [(ngModel)]="login" name="login" placeholder="Логин" required>
  <input type="password" [(ngModel)]="password" name="password" placeholder="Пароль" required>
  <button type="submit">Авторизоваться</button>
</form>
<p>У вас нет аккаунта? <a [routerLink]="['/register']" [queryParams]="{ returnUrl: returnUrl }">Зарегистрироваться</a></p>
<div *ngIf="this.dev" class="span-container">
  <span class="transparent-square" (click)="crackLogin1()">1</span>
  <span class="transparent-square" (click)="crackLogin2()">2</span>
  <span class="transparent-square" (click)="crackLoginAdmin()">A</span>
</div>


